@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.1s ease-in-out;
    font-family: 'Inter';
}

:root {
    --light-grey-opacity: #21212190;
    --dark-grey-opacity: #212121f0;
    --dark-grey: #212121;
    --lighter: #EEE2DC;
    --light: #EDC7B7;
    --light-opacity: #edc7b7ef;
    --grey: #BAB2B5;
    --primary: #2877ca;
    --primary-light: #558dca;
    --secondary: #AC3B61;
    --secondary-light: #ad5b76;
}

body {
    background-image: url('./background.png');
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 12%;
}

.cover {
    height: 200px;
    background-image: linear-gradient(var(--light-grey-opacity) 80%, var(--secondary) 100%);
}

.navbar {
    width: 100%;
    position: sticky;
    top: 0;
    height: 60px;
    background-color: var(--secondary);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 100;
}

.title {
    font-size: 80px;
    font-family: 'agency FB';
    font-weight: bold;
    color: var(--lighter);
    text-align: center;
    padding-top: 3%;
}

.slogan {
    font-size: 30px;
    font-family: 'agency FB';
    font-weight: bold;
    color: var(--lighter);
    text-align: center;
}

.dropdown-btn {
    display: none;
}

.link {
    font-size: 18px;
    font-family: 'Roboto';
    text-decoration: none;
    font-weight: bold;
    padding: 0 4%;
    border-left: 2px solid var(--lighter);
    float: left;
    margin-top: 19px;


    background-image: linear-gradient(to right,
            var(--dark-grey),
            var(--dark-grey) 50%,
            var(--lighter) 50%);
    background-size: 200% 100%;
    background-position: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.link:hover {
    background-position: 0;
    border-left: 2px solid var(--dark-grey-opacity);
    transform: translateX(3px);
}

.link:nth-child(1),
.link:nth-child(2) {
    border-left: 0;
}

.search {
    float: right;
    margin-right: 8px;
}

.search input[type='text'] {
    width: 220px;
    height: 32px;
    margin-top: 14px;
    border: 1px solid #212121;
    border-radius: 25px;
    outline: none;
    padding: 0 10px;
}

.search-button {
    cursor: pointer;
    color: #F6F6F6;
    padding: 0 10px;
}


.container {
    background-color: var(--dark-grey-opacity);
    margin: 30px 3%;
    padding: 40px 0;
    border-radius: 15px;
    overflow: hidden;
}

.create-blog-form {
    width: 80%;
    margin: 50px auto;
    border-radius: 15px;
}

.input-group {
    margin: 20px 0;
}

.input-group input[type='file'] {
    margin-top: 5px;
    color: var(--lighter);
}

.input-label {
    font-size: 23px;
    color: var(--lighter);
}

.input {
    margin-top: 5px;
    width: 100%;
    height: 35px;
    outline: none;
    border: 0;
    border-radius: 3px;
    padding: 5px 15px;
}

.input:focus {
    box-shadow: 5px 5px 18px var(--secondary);
}

.editor {
    background-color: white;
    margin-top: 5px;
    height: 250px;
    overflow: scroll;
}

.btn {
    cursor: pointer;
    width: 180px;
    height: 35px;
    border: 0;
    outline: none;
    border-radius: 3px;

}

.btn-primary {
    background-color: var(--secondary);
}

.btn:hover {
    transform: translateY(-3px);
}

.btn-primary:hover {
    background-color: var(--secondary-light);
}

.error {
    color: var(--lighter);
    padding-left: 30px;
    padding-top: 15px;
}

.blog {
    padding: 20px 60px;
}

.img {
    padding: 10px 0;
}

.img img {
    width: 100%;
}

.blog-content {
    color: var(--lighter);
    padding: 30px 0px 10px 3px;
}

.blog-content img {
    width: 100%;
    padding: 20px 60px;
}

.blog-cards {
    padding: 20px 20px 30px 60px;
}

.blog-cards-title {
    margin-bottom: 20px;
    font-size: 80px;
    color: var(--lighter);
    font-family: 'agency FB';
}

.blog-card {
    padding: 10px 0;
    overflow: hidden;
    width: 100%;
    height: 240px;
}

.img-box {
    float: left;
    width: 40%;
}

.text-box {
    float: left;
    padding-left: 10px;
    height: 100%;
    width: 60%;
}

.blog-img {
    width: 98%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}

.blog-img:hover {
    transform: scale(1.05);
}

.blog-title {
    color: var(--lighter);
    font-size: 32px;
    font-family: 'Inter';
    cursor: pointer;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.blog-title a {
    text-decoration: none;
    color: inherit;
}

.blog-title:hover {
    color: var(--primary);
    transform: translateY(-3px);

}

.blog-genre {
    color: var(--lighter);
    font-size: 16px;
    font-family: 'Inter';
    padding-left: 3px;
    padding-top: 12px;
    cursor: pointer;
}

.blog-genre a {
    text-decoration: none;
    color: inherit;
}

.blog-genre:hover {
    color: var(--primary);
    transform: translateY(-3px);
}

.blog-author {
    font-size: 16px;
    padding-top: 4px;
    padding-left: 3px;
    color: var(--primary);
}


.blog-like {
    padding-top: 32px;
    font-size: 16px;
    color: var(--lighter);
    cursor: pointer;
}

.blog-like:hover svg {
    color: var(--secondary);
}

.blog-cards-sm {
    padding: 20px 16px;
}

.blog-cards-sm-title {
    margin-bottom: 6px;
    font-size: 32px;
    color: var(--lighter);
    font-family: 'agency FB';
}

.blog-card-sm {
    padding: 10px 0;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    float: left;
}

.blog-sm-img {
    object-fit: cover;
    height: 140px;
    width: 95%;
    border-radius: 8px;
}

.blog-sm-img:hover {
    transform: scale(1.05);
}

.blog-sm-title {
    color: var(--primary);
    font-size: 20px;
    font-family: 'Inter';
    padding: 10px 0px 0px 0px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.blog-sm-genre {
    font-size: 12px;
    padding-top: 5px;
    color: var(--lighter);
    padding-left: 4px;
}

.genre-grid {
    margin: 20px 80px;
    overflow: hidden;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.3%;
}

.column {
    flex: 33.33%;
    max-width: 33.33%;
    padding: 2% 0.3%;
}

.animation {
    margin: 5% 8px;
    vertical-align: middle;
    height: 240px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.animation p {
    opacity: 0;
    transform: scale(0);
    transition: 0.6s;
    font-size: 2rem;
    color: white;
}

.animation a {
    text-decoration: none;
}

.animation:hover {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.5) inset;
}

.animation:hover p {
    opacity: 1;
    transform: scale(1);
}

.column:nth-child(1) .animation:nth-child(1) {
    background-image: url('./components/Genre/genreBooks.png');
}

.column:nth-child(2) .animation:nth-child(1) {
    background-image: url('./components/Genre/genreMovies.png');
}

.column:nth-child(3) .animation:nth-child(1) {
    background-image: url('./components/Genre/genreSports.png');
}

.column:nth-child(1) .animation:nth-child(2) {
    background-image: url('./components/Genre/genreFood.png');
}

.column:nth-child(2) .animation:nth-child(2) {
    background-image: url('./components/Genre/genreMusic.png');
}

.column:nth-child(3) .animation:nth-child(2) {
    background-image: url('./components/Genre/genreTech.png');
}

.column:nth-child(1) .animation:nth-child(3) {
    background-image: url('./components/Genre/genreMotorsports.png');
}

.column:nth-child(2) .animation:nth-child(3) {
    background-image: url('./components/Genre/genreNature.png');
}

.column:nth-child(3) .animation:nth-child(3) {
    background-image: url('./components/Genre/genreTravelling.png');
}

.login-container {
    position: relative;
    min-height: 480px;
    overflow: hidden;
}

.form-container {
    padding: 8%;
    text-align: center;
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.form-container input {
    width: 90%;
    height: 35px;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    border: 0;
    outline: none;
}

.form-btn {
    width: 90%;
    height: 35px;
    padding: 10px;
    margin: 10px;
    background-color: var(--primary);
    outline: none;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

.form-btn:hover {
    background-color: var(--primary-light);
}

.signin-container {
    border-right: 1px solid var(--grey);
    padding-top: 120px;
    left: 0;
    width: 50%;
}

.login-container.right-panel-active .signin-container {
    opacity: 0;
}

.signup-container {
    border-left: 1px solid var(--grey);
    padding-top: 80px;
    left: 0;
    width: 50%;
    opacity: 0;
    transform: translateX(100%);
}

.login-container.right-panel-active .signup-container {
    opacity: 1;
    z-index: 5;
}

.change-form {
    opacity: 0;
    padding-top: 20px;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.login-container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: 0.6s ease-in-out;
}

.login-container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.login-container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.login-container.right-panel-active .overlay-right {
    transform: translateX(20%);
}



h1 {
    font-size: 4.5em;
    font-family: 'Inter';
    color: var(--lighter);
}

h3 {
    font-size: 2.0em;
    font-family: 'Inter';
    color: var(--lighter);
    padding-bottom: 20px;
}

.col-8 {
    width: 75%;
    float: left;
    border-right: 1px solid var(--grey);
}

.col-2 {
    width: 25%;
    float: left;
}




@media screen and (max-width: 1000px) {
    .link {
        padding: 0 2%;
    }

    .blog-cards {
        padding: 20px 60px;
    }

    .blog-cards-sm {
        padding: 20px 60px;
    }

    .animation {
        height: 160px;
    }

    .col-8 {
        width: 100%;
        float: left;
        border-right: 0;
    }

    .col-2 {
        width: 100%;
        float: left;
    }
}

@media screen and (max-width: 768px) {
    .link {
        display: none;
    }

    .dropdown-btn {
        display: block;
    }

    .title {
        font-size: 70px;
        padding-top: 6%;
    }

    .blog-cards-title {
        font-size: 50px;
    }

    .blog-title {
        font-size: 20px;
    }

    .blog-img {
        height: 160px;
    }

    .blog-cards,
    .blog-cards-sm {
        padding: 20px 20px 20px 30px;
    }

    .blog-card {
        height: 180px;
    }

    .slogan {
        font-size: 20px;
    }

    h1 {
        font-size: 3.2em;
    }

    .column {
        flex: 100%;
        max-width: 100%;
    }

    .column img {
        height: 280px;
    }

    .genre-grid {
        margin: 20px 40px;
        overflow: hidden;
    }

    .animation {
        height: 160px;
        box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.5) inset;
    }

    .animation p {
        opacity: 1;
        transform: scale(1);
    }

    .form-container {
        width: 100%;
    }

    .overlay-container {
        display: none;
    }

    .login-container.right-panel-active .signup-container {
        transform: translateX(0%);
    }

    .signin-container,
    .signup-container {
        border: 0;
    }

    .signup-container {
        padding-top: 40px;
    }

    .signin-container {
        padding-top: 70px;
    }

    .change-form {
        opacity: 1;
    }

}

@media screen and (max-width: 560px) {

    .blog-card {
        height: 320px;
    }

    .text-box {
        padding-left: 0px;
        padding-top: 5px;
    }

    .blog-like {
        padding-top: 10px;
    }

    .img-box,
    .text-box {
        width: 100%;
    }

}


@media screen and (max-width: 480px) {
    .cover {
        height: 150px;
    }

    .title {
        font-size: 60px;
        padding-top: 10%;
    }

    .slogan {
        font-size: 16px;
    }

    .link {
        font-size: 16px;
    }

    .search input[type='text'] {
        width: 160px;
    }

    .search-button {
        padding: 0 4px;
    }

    h1 {
        font-size: 2.2em;
    }

    .blog-cards {
        padding: 14px;
    }

    .blog-cards-title {
        font-size: 40px;
        margin: 0px;
    }

    .column img {
        height: 180px;
    }

    .genre-grid {
        margin: 20px 20px;
        overflow: hidden;
    }
}